<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1 class="h3">Dashboard</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <button class="btn btn-sm btn-outline-secondary">Share</button>
      <button class="btn btn-sm btn-outline-secondary">Export</button>
    </div>
    <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
      This week
    </button>
  </div>
</div>

<h2>Housing Statistics</h2>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>Average prices</th>
        <th>Change %</th>
        <th>Average Rent</th>
        <th>Change %</th>
        <th>Year</th>
      </tr>
    </thead>
      <tr>
        <td>$513,400</td>
        <td>-6.2%</td>
        <td>$1,180</td>
        <td>8.96%</td>
        <td>2023</td>
      </tr>
      <tr>
        <td>$547,800</td>
        <td>15%</td>
        <td>$1,083</td>
        <td>-9.07%</td>
        <td>2022</td>
      </tr>
      <tr>
        <td>$473,000</td>
        <td>26%</td>
        <td>$1,191</td>
        <td>8.67%</td>
        <td>2021</td>
      </tr>
      <tr>
        <td>$374,500</td>
        <td>-2.1%</td>
        <td>$1,096</td>
        <td>+3.20%</td>
        <td>2020</td>
      </tr>
      <tr>
        <td>$382,700</td>
        <td>-2.5%</td>
        <td>$1,062</td>
        <td>3.81%</td>
        <td>2019</td>
      </tr>
      <tr>
        <td>$392,900</td>
        <td>5%</td>
        <td>$1,023</td>
        <td>4.18%</td>
        <td>2018</td>
      </tr>
      <tr>
        <td>$373,200</td>
        <td>4.1%</td>
        <td>$982</td>
        <td>3.44%</td>
        <td>2017</td>
      </tr>
      <tr>
        <td>$358,800</td>
        <td>3.1%</td>
        <td>$949</td>
        <td>2.26%</td>
        <td>2016</td>
      </tr>
      <tr>
        <td>$347,400</td>
        <td>2%</td>
        <td>$928</td>
        <td>0.87%</td>
        <td>2015</td>
      </tr>
      <tr>
        <td>$340,400</td>
        <td>4.9%</td>
        <td>$920</td>
        <td>1.77%</td>
        <td>2014</td>
      </tr>
      <tr>
        <td>$324,400</td>
        <td>10.2%</td>
        <td>$904</td>
        <td>1.69%</td>
        <td>2013</td>
      </tr>
    </tbody>
  </table>
</div>

<%= image_tag('fredgraph.png', class: 'graph') %>
<%= image_tag('historical-median-monthly-rents-2.webp', class: 'graph') %>
